* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
.navbar {
  background-color: #222222;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.menu-icon {
  cursor: pointer;
}
.logo {
  width: 111px;
  display: flex;
  align-items: flex-end;
}
.logo-img {
  height: 38px;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.nav-icons {
  width: 168px;
  display: flex;
  align-items: center;
}
.nav-flex {
  padding-top: 19px;
  padding-bottom: 19px;
}
.menu {
  height: 26px;
}
.cabinet {
  width: 29px;
  height: 29px;
}
.cart {
  width: 32px;
  height: 29px;
}
.top-section {
  background-color: #f1e4e6;
}
.img-back-man {
  height: 764px;
  width: 50%;
}
.top-section-p {
  width: 50%;
  padding-top: 281px;
  padding-left: 63px;
  display: flex;
  align-items: flex-start;
}
.rect-icon {
  height: 92px;
}
.brand {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.luxe {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 38.4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.fashion {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  font-size: 32px;
  line-height: 44.4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: rgba(241, 109, 127, 1);
}
.text-top {
  padding-left: 15px;
}
.rect-icon-div {
  padding-top: 5px;
}
.categories {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
}
.forth {
  margin-top: 30px;
}
.card-top {
  position: relative;
}
.women-text {
  position: absolute;
  top: 105px;
  left: 103px;
  text-align: center;
}
.man-text {
  position: absolute;
  top: 105px;
  left: 125px;
  text-align: center;
}
.kid-text {
  position: absolute;
  top: 105px;
  left: 123px;
  text-align: center;
}
.acc-text {
  position: absolute;
  top: 65px;
  left: 491px;
  text-align: center;
}
.off {
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  color: #ffffff;
}
.f-w {
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: rgba(241, 109, 127, 1);
}
